<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head') %>
</head>
<body class="bg-black"> 
  <%- include('partials/svg') %>
  <%- include('partials/navbar') %>

  <section class="py-5">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <h1 class="page-title pb-2">Contacto</h1>
        <nav class="breadcrumb fs-6">
          <a class="breadcrumb-item nav-link" href="#">Inicio</a>
          <a class="breadcrumb-item nav-link" href="#">Páginas</a>
          <span class="breadcrumb-item active" aria-current="page">Contacto</span>
        </nav>
      </div>
    </div>
  </section>

  <section class="contact-us-wrap py-5">
    <div class="container">
      <div class="row">
        <div class="contact-info col-md-6">
          <h2>Información de contacto</h2>
          <p>Si tienes alguna consulta o necesitas más información, no dudes en contactarnos. Estamos aquí para ayudarte.</p>
          <div class="page-content">
            <div class="col-md-6">
              <div class="content-box">
                <h5 class="element-title text-uppercase">Oficina central Lima</h5>
                <div class="contact-address">
                  <p>Avenida José Larco A6, Miraflores, Lima, Perú</p>
                </div>
                <div class="contact-number">
                  <p>
                    <a href="#">+51 999 987 321</a>
                    <a href="#">+51 999 223 654</a>
                  </p>
                </div>
                <div class="email-address">
                  <p>
                    <a href="#">info@electrostore.com</a>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="content-box">
                <h5 class="element-title text-uppercase">Sucursal Pino</h5>
                <div class="contact-address">
                  <p>Calle Pino 789, Miraflores, Lima, Perú</p>
                </div>
                <div class="contact-number">
                  <p>
                    <a href="#">+51 999 987 321</a>
                    <a href="#">+51 999 123 654</a>
                  </p>
                </div>
                <div class="email-address">
                  <p>
                    <a href="#">contacto@electrostore.com</a>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="content-box">
                <h5 class="element-title text-uppercase">Información social</h5>
                <div class="social-links">
                  <ul class="list-unstyled d-flex flex-wrap gap-3">
                    <li>
                      <a href="#" class="text-secondary">
                        <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#facebook"></use></svg>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="text-secondary">
                        <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#twitter"></use></svg>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="text-secondary">
                        <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#youtube"></use></svg>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="text-secondary">
                        <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#pinterest"></use></svg>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="text-secondary">
                        <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#instagram"></use></svg>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="inquiry-item col-md-6">
          <h2>¿Tienes alguna pregunta?</h2>
          <p>Utilice el siguiente formulario para ponerse en contacto con nosotros.</p>
          <form id="form" action="contact_form.php" class="form-group flex-wrap">
            <div class="form-input col-lg-12 d-flex mb-3">
              <input type="text" name="email" placeholder="Write Your Name Here" class="form-control ps-3 me-3">
              <input type="text" name="email" placeholder="Write Your Email Here" class="form-control ps-3">
            </div>
            <div class="col-lg-12 mb-3">
              <input type="text" name="email" placeholder="Phone Number" class="form-control ps-3">
            </div>
            <div class="col-lg-12 mb-3">
              <input type="text" name="email" placeholder="Write Your Subject Here" class="form-control ps-3">
            </div>
            <div class="col-lg-12 mb-3">
              <textarea placeholder="Write Your Message Here" class="form-control ps-3" rows="8"></textarea>
            </div>
            <div class="d-grid">
              <button class="btn btn-primary btn-lg text-uppercase btn-rounded-none">Enviar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <section class="contact-list py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="content-box">
            <h5 class="element-title text-uppercase">Lima</h5>
            <div class="contact-address">
              <p>Avenida José Larco A6, Miraflores, Lima, Perú</p>
            </div>
            <div class="contact-number">
              <p>
                <a href="#">+51 999 987 321</a>
                <a href="#">+51 999 223 654</a>
              </p>
            </div>
            <div class="email-address">
              <p>
                <a href="#">info@electrostore.com</a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="content-box">
            <h5 class="element-title text-uppercase">Francia</h5>
            <div class="contact-address">
              <p>Avenida 13 Montmartre 75001, París, Francia</p>
            </div>
            <div class="contact-number">
              <p>
                <a href="#">+33 1 23 45 67 89</a>
                <a href="#">+33 1 23 45 68 89</a>
              </p>
            </div>
            <div class="email-address">
              <p>
                <a href="#">francia@electrostore.com</a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="content-box">
            <h5 class="element-title text-uppercase">Reino Unido</h5>
            <div class="contact-address">
              <p>Avenida 18 Brow PR25 3NE, Leyland, UK</p>
            </div>
            <div class="contact-number">
              <p>
                <a href="#">+44 20 7946 0123</a>
                <a href="#">+44 20 7947 0123</a>
              </p>
            </div>
            <div class="email-address">
              <p>
                <a href="#">reinounido@electrostore.com</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="newsletter bg-black">
    <div class="container-fluid">
      <div class="newsletter jarallax">
        <img src=" images/bg-newsletter.jpg" alt="newsletter" class="jarallax-img">
      
        <div class="row py-5 justify-content-center">
          <div class="col-md-6">
            <div class="row g-5 my-4 align-items-baseline">
              <div class="col-md-7">
                <h3 class="display-4 m-0 text-md-end">Suscríbete ahora</h3>
              </div>
              <div class="col-md-5">
                <p class="fs-6 text-gray">Suscríbete a nuestra newsletter y no te pierdas ninguna oferta</p>
              </div>
            </div>
            <div class="row mb-5">
              <div class="col-md-12">
                <form id="form" class="d-flex flex-row gap-0">
                  <input type="text" name="email" placeholder="Your Email Addresss" class="form-control rounded-0 rounded-start">
                  <button class="btn btn-primary text-uppercase rounded-0 rounded-end px-5">Inscribirse</button>
                </form>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  
  <footer id="footer" class="bg-black">
    <div class="container-fluid">
      <div class="row d-flex flex-wrap justify-content-between my-5 py-5">
        <div class="col-md-3 col-sm-6">
          <div class="footer-menu footer-menu-001">
            <div class="footer-intro mb-4">
              <a href="index">
                <img src=" images/logo.svg" alt="logo">
              </a>
            </div>
            <p> Es una tienda especializada en productos electrónicos y tecnológicos de última generación. Nos dedicamos a ofrecer una amplia gama de dispositivos.</p>
            <div class="social-links">
              <ul class="list-unstyled d-flex flex-wrap gap-3">
                <li>
                  <a href="#" class="text-secondary">
                    <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#facebook"></use></svg>
                  </a>
                </li>
                <li>
                  <a href="#" class="text-secondary">
                    <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#twitter"></use></svg>
                  </a>
                </li>
                <li>
                  <a href="#" class="text-secondary">
                    <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#youtube"></use></svg>
                  </a>
                </li>
                <li>
                  <a href="#" class="text-secondary">
                    <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#pinterest"></use></svg>
                  </a>
                </li>
                <li>
                  <a href="#" class="text-secondary">
                    <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#instagram"></use></svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-sm-6">
          <div class="footer-menu footer-menu-002">
            <h5 class="widget-title mb-4">Enlaces rápidos</h5>
            <ul class="menu-list list-unstyled fs-6">
              <li class="menu-item">
                <a href="index" class="item-anchor">Inicio</a>
              </li>
              <li class="menu-item">
                <a href="shop-four-column-wide" class="item-anchor">Sobre nosotros</a>
              </li>
              <li class="menu-item">
                <a href="blog" class="item-anchor">Servicios</a>
              </li>
              <li class="menu-item">
                <a href="styles" class="item-anchor">Producto</a>
              </li>
              <li class="menu-item">
                <a href="#" class="item-anchor">Contacto</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-2 col-sm-6">
          <div class="footer-menu footer-menu-002">
            <h5 class="widget-title mb-4">Acerca de</h5>
            <ul class="menu-list list-unstyled fs-6">
              <li class="menu-item">
                <a href="index" class="item-anchor">Como funciona</a>
              </li>
              <li class="menu-item">
                <a href="shop-four-column-wide" class="item-anchor">Acerca</a>
              </li>
              <li class="menu-item">
                <a href="blog" class="item-anchor">NUestros paquetes</a>
              </li>
              <li class="menu-item">
                <a href="styles" class="item-anchor">Promociones</a>
              </li>
              <li class="menu-item">
                <a href="#" class="item-anchor">Referenciar a mis amigos</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-2 col-sm-6">
          <div class="footer-menu footer-menu-003">
            <h5 class="widget-title mb-4">Ayuda & Información</h5>
            <ul class="menu-list list-unstyled fs-6">
              <li class="menu-item">
                <a href="#" class="item-anchor">Seguimiento de pedido</a>
              </li>
              <li class="menu-item">
                <a href="#" class="item-anchor">Devoluciones + Cambios</a>
              </li>
              <li class="menu-item">
                <a href="#" class="item-anchor">Envío + Delivery</a>
              </li>
              <li class="menu-item">
                <a href="#" class="item-anchor">Contactate con nosotros</a>
              </li>
              <li class="menu-item">
                <a href="#" class="item-anchor">Encuéntranos fácilmente</a>
              </li>
              <li class="menu-item">
                <a href="faqs" class="item-anchor">Preguntas frecuentes</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="footer-menu footer-menu-004 border-animation-left">
            <h5 class="widget-title mb-4">Contactate con nosotros</h5>
            <p>¿Tiene alguna pregunta o sugerencia? <a href="mailto:contact@yourcompany.com" class="item-anchor">contacto@suempresa.com</a></p>
            <p>¿Necesitas ayuda? Llámanos.<a href="tel:+43 720 11 52 78" class="item-anchor"> +51 987 654 321</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <%- include('partials/script') %>
</body>
</html>