<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head') %>
</head>
<body data-bs-theme="dark">
  <div class="error-page content-light jarallax d-flex align-items-center" style="height: 100vh;">
    <img src=" images/error-image.jpg" alt="error-page" class="jarallax-img">
    <div class="container">
      <div class="page-content text-center text-white">
        <h1>Error 404</h1>
        <p>Lo sentimos, la página que estás buscando no existe.</p>
        <a href="index" class="btn btn-outline-light btn-large text-uppercase mt-3">Regresar a inicio</a>
      </div>
    </div>
  </div>
  <%- include('partials/script') %>
</body>
</html>