<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head') %>
</head>
<body class="bg-black"> 
  <%- include('partials/svg') %>
  <%- include('partials/navbar') %>

  <section class="hero-section bg-light py-4">
    <div class="hero-content">
      <div class="container">
        <div class="row">
          <div class="text-center">
            <div class="breadcrumbs">
              <span class="item">
                <a href="index">Home /</a>
              </span>
              <span class="item">Wishlist</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="Wishlist" class="py-5 my-5">
    <div class="container">
      <div class="row my-3">
        <div class="col-5 text-uppercase">Product</div>
        <div class="col-2 text-uppercase">Unit Price</div>
        <div class="col-2 text-uppercase">Stock Status</div>
      </div>
      <div class="product-wrapper">
        <div class="product-item row align-items-center mb-3 border-bottom">
          <div class="col-4 col-md-1 d-flex align-items-center text-left">
            <a href="#">
              <img srcset=" images/product-thumb-1.jpg" alt="wishlist" class="img-fluid">
            </a>
          </div>
          <div class="col-8 col-md-4">
            <h3 class="item-title">
              <a href="#">Handmade crop sweater</a>
            </h3>
          </div>
          <div class="col-3 col-md-2 product-price text-left">
            <span class="item-price">$54.99</span>
          </div>
          <div class="col-3 col-md-2 wishlist-stock text-left">
            <span class="item-stock">In Stock</span>
          </div>
          <div class="col-3 col-md-2 wishlist-add text-left">
            <form action="" method="post" class="variants">
              <a class="btn btn-outline-dark text-uppercase" title="Add to Cart" href="#">Add To Cart</a>
            </form>
          </div>
          <div class="col-3 col-md-1 text-left">
            <div class="cart-remove">
              <a href="#">
                <svg width="32px">
                  <use xlink:href="#trash"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="product-item row align-items-center mb-3 border-bottom">
          <div class="col-4 col-md-1 d-flex align-items-center text-left">
            <a href="#">
              <img srcset=" images/product-thumb-2.jpg" alt="wishlist" class="img-fluid">
            </a>
          </div>
          <div class="col-8 col-md-4">
            <h3 class="item-title">
              <a href="#">Phone Cover 5.6 inches</a>
            </h3>
          </div>
          <div class="col-3 col-md-2 product-price text-left">
            <span class="item-price">$94.99</span>
          </div>
          <div class="col-3 col-md-2 wishlist-stock text-left">
            <span class="item-stock">In Stock</span>
          </div>
          <div class="col-3 col-md-2 wishlist-add text-left">
            <form action="" method="post" class="variants">
              <a class="btn btn-outline-dark text-uppercase" title="Add to Cart" href="#">Add To Cart</a>
            </form>
          </div>
          <div class="col-3 col-md-1 text-left">
            <div class="cart-remove">
              <a href="#">
                <svg width="32px">
                  <use xlink:href="#trash"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="product-item row align-items-center mb-3 border-bottom">
          <div class="col-4 col-md-1 d-flex align-items-center text-left">
            <a href="#">
              <img srcset=" images/product-thumb-3.jpg" alt="wishlist" class="img-fluid">
            </a>
          </div>
          <div class="col-8 col-md-4">
            <h3 class="item-title">
              <a href="#">Smart Phone 128GB RAM</a>
            </h3>
          </div>
          <div class="col-3 col-md-2 product-price text-left">
            <span class="item-price">$54.99</span>
          </div>
          <div class="col-3 col-md-2 wishlist-stock text-left">
            <span class="item-stock">In Stock</span>
          </div>
          <div class="col-3 col-md-2 wishlist-add text-left">
            <form action="" method="post" class="variants">
              <a class="btn btn-outline-dark text-uppercase" title="Add to Cart" href="#">Add To Cart</a>
            </form>
          </div>
          <div class="col-3 col-md-1 text-left">
            <div class="cart-remove">
              <a href="#">
                <svg width="32px">
                  <use xlink:href="#trash"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="newsletter bg-black">
    <div class="container-fluid">
      <div class="newsletter jarallax">
        <img src=" images/bg-newsletter.jpg" alt="newsletter" class="jarallax-img">
      
        <div class="row py-5 justify-content-center">
          <div class="col-md-6">
            <div class="row g-5 my-4 align-items-baseline">
              <div class="col-md-7">
                <h3 class="display-4 m-0 text-md-end">Suscríbete ahora</h3>
              </div>
              <div class="col-md-5">
                <p class="fs-6 text-gray">Suscríbete a nuestra newsletter y no te pierdas ninguna oferta</p>
              </div>
            </div>
            <div class="row mb-5">
              <div class="col-md-12">
                <form id="form" class="d-flex flex-row gap-0">
                  <input type="text" name="email" placeholder="Your Email Addresss" class="form-control rounded-0 rounded-start">
                  <button class="btn btn-primary text-uppercase rounded-0 rounded-end px-5">Inscribirse</button>
                </form>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  
  <footer id="footer" class="bg-black">
    <div class="container-fluid">
      <div class="row d-flex flex-wrap justify-content-between my-5 py-5">
        <div class="col-md-3 col-sm-6">
          <div class="footer-menu footer-menu-001">
            <div class="footer-intro mb-4">
              <a href="index">
                <img src=" images/logo.svg" alt="logo">
              </a>
            </div>
            <p> Es una tienda especializada en productos electrónicos y tecnológicos de última generación. Nos dedicamos a ofrecer una amplia gama de dispositivos.</p>
            <div class="social-links">
              <ul class="list-unstyled d-flex flex-wrap gap-3">
                <li>
                  <a href="#" class="text-secondary">
                    <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#facebook"></use></svg>
                  </a>
                </li>
                <li>
                  <a href="#" class="text-secondary">
                    <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#twitter"></use></svg>
                  </a>
                </li>
                <li>
                  <a href="#" class="text-secondary">
                    <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#youtube"></use></svg>
                  </a>
                </li>
                <li>
                  <a href="#" class="text-secondary">
                    <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#pinterest"></use></svg>
                  </a>
                </li>
                <li>
                  <a href="#" class="text-secondary">
                    <svg width="24" height="24" viewBox="0 0 24 24"><use xlink:href="#instagram"></use></svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-2 col-sm-6">
          <div class="footer-menu footer-menu-002">
            <h5 class="widget-title mb-4">Enlaces rápidos</h5>
            <ul class="menu-list list-unstyled fs-6">
              <li class="menu-item">
                <a href="index" class="item-anchor">Inicio</a>
              </li>
              <li class="menu-item">
                <a href="shop-four-column-wide" class="item-anchor">Sobre nosotros</a>
              </li>
              <li class="menu-item">
                <a href="blog" class="item-anchor">Servicios</a>
              </li>
              <li class="menu-item">
                <a href="styles" class="item-anchor">Producto</a>
              </li>
              <li class="menu-item">
                <a href="#" class="item-anchor">Contacto</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-2 col-sm-6">
          <div class="footer-menu footer-menu-002">
            <h5 class="widget-title mb-4">Acerca de</h5>
            <ul class="menu-list list-unstyled fs-6">
              <li class="menu-item">
                <a href="index" class="item-anchor">Como funciona</a>
              </li>
              <li class="menu-item">
                <a href="shop-four-column-wide" class="item-anchor">Acerca</a>
              </li>
              <li class="menu-item">
                <a href="blog" class="item-anchor">Nuestros paquetes</a>
              </li>
              <li class="menu-item">
                <a href="styles" class="item-anchor">Promociones</a>
              </li>
              <li class="menu-item">
                <a href="#" class="item-anchor">Referenciar a mis amigos</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-2 col-sm-6">
          <div class="footer-menu footer-menu-003">
            <h5 class="widget-title mb-4">Ayuda & Información</h5>
            <ul class="menu-list list-unstyled fs-6">
              <li class="menu-item">
                <a href="#" class="item-anchor">Seguimiento de pedido</a>
              </li>
              <li class="menu-item">
                <a href="#" class="item-anchor">Devoluciones + Cambios</a>
              </li>
              <li class="menu-item">
                <a href="#" class="item-anchor">Envío + Delivery</a>
              </li>
              <li class="menu-item">
                <a href="#" class="item-anchor">Contactate con nosotros</a>
              </li>
              <li class="menu-item">
                <a href="#" class="item-anchor">Encuéntranos fácilmente</a>
              </li>
              <li class="menu-item">
                <a href="faqs" class="item-anchor">Preguntas frecuentes</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="footer-menu footer-menu-004 border-animation-left">
            <h5 class="widget-title mb-4">Contactate con nosotros</h5>
            <p>¿Tiene alguna pregunta o sugerencia? <a href="mailto:contact@yourcompany.com" class="item-anchor">contacto@suempresa.com</a></p>
            <p>¿Necesitas ayuda? Llámanos.<a href="tel:+43 720 11 52 78" class="item-anchor"> +51 987 654 321</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <%- include('partials/script') %>
</body>
</html>